

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASYCOOK</title>
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>

    
    <div class="container">
        <%- include("./layouts/header") %>
        <%- include("./layouts/nav") %>

        <main>
                <% if(listPosts.length <= 1) { %>
                        <div class="postContent">
                            <h1 class="postTitle">There is no previous post or no post on our database</h1>

                            <img class="postImage" src="/images/default.jpg" alt="">
                        </div>
                    <% } else {
                        for (let i = listPosts.length-2; i >= 0; i--){ %>
                            <div class="postContent">

                                <h1 class="postTitle"> <%= listPosts[i].postTitle %> </h1>
                
                                <img class="postImage" src="../uploads/<%= listPosts[i].postImageName %>" alt="">
                
                
                                <div class="postText">
                                    <p><%- listPosts[i].postText %></p>
                                </div>
                                <div>
                                    <%
                                        const postDate = `${listPosts[i].postDate.getDate()}/${listPosts[i].postDate.getMonth()+1}/${listPosts[i].postDate.getFullYear()}`;
                                        const postHour = `${listPosts[i].postDate.getHours()}:${listPosts[i].postDate.getMinutes()}`
                                    %>
                                    <p class="dateHour"><%- postDate + " " + postHour %></p>
                                </div>
                            </div>
                       <% } 
                        } %>
                    
                

            
        
        </main>
        <%- include("./layouts/footer") %>
    </div>

    <!-- <script>
        history.replaceState({}, document.title, "/index");
    </script> -->

</body>

</html>